@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

$button-size : clamp(2rem, 9vw, 4.8rem);
$button-border : clamp(.2rem, 1.5vw, .75rem);
$button-font-size : clamp(.9rem, 3vw, 1.55rem);

@function getShade($base-color) {
    $shade : adjust-color($base-color, $hue: 10, $lightness: -20);
    $shade : change-color($shade, $saturation: 60);
        
    @return $shade;
}

@function getHighlight($base-color) {
    $highlight : adjust-color($base-color, $hue: -10, $lightness: 5);
    $highlight : change-color($highlight, $saturation: 50);
        
    @return $highlight;
}

@mixin calcu-button($colorID) {
    $color : 0;
    $shade : 0;
    $highlight : 0;
    
    @if $colorID == 'number' {
        $color : #ac92eb;
        $shade : #525ebb;
        $highlight : #d7a8f6;
    }
    @if $colorID == 'operator' {
        $color : #4fc1e8;
        $shade : #1e78b9;
        $highlight : #8ccdf4;
    }
    @if $colorID == 'grouper' {
        $color : #ed5564; 
        $shade : #cd3c2a;
        $highlight : #f17c8a;    


    }
    @if $colorID == 'util' {
        $color : #ffce54;
        $shade : #da911f;
        $highlight : #ffd77f;
    }

    background-color: $color;
    border-bottom: $button-border solid $shade;
    border-right: $button-border solid $shade; 
    border-top: $button-border solid $highlight;
    border-left: $button-border solid $highlight;

    &:active {
        $base-color : $shade;
        background-color: $base-color;
        border-bottom: $button-border solid $base-color;
        border-right: $button-border solid $base-color; 
        border-top: $button-border solid $color;
        border-left: $button-border solid $color;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
}

body {
    background-color: black;
    display: grid;
    place-items: center;
    min-height: 100vh;
    max-height: 100vw;
    
    .container {
        $color : #a0d568;
        $shade : #528567;
        $highlight : #c5d99a;
        width: Min(40rem, 80%);
        display: flex;
        align-items: center;
        padding: 2.5rem 0;
        gap: 1.5rem;
        flex-direction: column;
        background-color: $color;
        justify-content: flex-start;
        border-radius: 2rem;
        border-top: 1.8rem solid $highlight;
        border-left: 1.8rem solid $highlight;
        border-bottom: 1.8rem solid $shade;
        border-right: 1.8rem solid $shade;

        .eq-ans,
        .transection {
            width: 85%;
            text-align: center;
        }

        .transection {
            font-size: 1.5rem;
            display: flex;
            gap: 1rem;
            justify-content: space-between;
            
            h1 {
                flex-grow: 1;
            }

            button {
                flex: 0 0 $button-size;
                font-size: $button-font-size;
                background-color: white;
                aspect-ratio: 1;
                border-radius: 20%;
        
                @include calcu-button('util');

                i {
                    font-weight: 900
                }
        
            }
        }

        .eq-ans {
            $shade : #528567;
            $highlight : #c5d99a;
            background-color: #738064;
            color: #222126;
            border-radius: 1rem;
            border-top: .75rem solid $shade;
            border-left: .75rem solid $shade;
            border-bottom: .75rem solid $highlight;
            border-right: .75rem solid $highlight;
            display: grid;
            grid-template-rows: 1fr 1.25fr; 
            
            h2 {
                font-size: 1.5rem;
                text-align: center;
                height: 100%;
                gap: .3rem;
                overflow-x: scroll;
                p {
                    flex: 0 0 1.5rem;
                    background-color: darken($color: #738064, $amount: 10);
                }
            }
        }

        h1 {
            font-size: 1.5rem;
            text-align: center;
            overflow-x: scroll;
        }
    }
}

.translation {
    $shade : #528567;
    $highlight : #c5d99a;
    background-color: #738064;
    color: #222126;
    border-radius: 1rem;
    border-top: .75rem solid $shade;
    border-left: .75rem solid $shade;
    border-bottom: .75rem solid $highlight;
    border-right: .75rem solid $highlight;
}

.translation,
.equation,
.inputs,
.answer {
    padding: .5rem;
    min-height: 1.5rem;
    * {
        font-size: 1.5rem;
    }
}

.equation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.inputs {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(7, 1fr);
    padding-block: 1rem;
    place-items: center;
    align-self: stretch;
    * {
        color: black;
        font-size: $button-font-size;
    }
    button {
        width: $button-size;
        background-color: white;
        aspect-ratio: 1;
        border-radius: 20%;

        &.number {
            @include calcu-button('number')
        }
        
        &.operator {
            @include calcu-button('operator')
        }

        &.grouper {
            @include calcu-button('grouper')
        }

        &.util {
            @include calcu-button('util')
        }
    }

    img {
        width: clamp(2.8rem, 18vw, 9.6rem);
        grid-area: 3 / 6 / span 2 / span 2;
    }
}
